{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
          <li><a href="http://www.t.me/katsoy"><img src="{% static 'images/tg.png' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/katsoy/"><img src="{% static 'images/ig.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/ekaterina-kondratenko-b66285ba/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://jamesgrangerdesign.co.uk/" target="_blank">James Granger Design</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->